:root {
  --pramery-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-text-color: #ffffff;
  --secondary-accent-text-color: #4d5ae5;
  --icon-text-color: #8e8f99;
  --overlay-text-color: #f4f4fd;
  --background-color-check: #404bbf;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* Header */

.logo {
  display: inline-block;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-text-color);
}
.link {
  text-decoration: none;
}
.logo-part {
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
    margin-inline-start: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    margin-bottom: 284px;
  }

  .mobile-menu-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .mob-menu-link {
    color: var(--secondary-text-color);
  }

  .mob-menu-link:focus {
    color: var(--background-color-check);
  }

  .mobile-menu-contacts {
    list-style: none;
    margin-bottom: 48px;
  }

  .mobile-menu-contacts-link {
    margin-top: 40px;
  }

  .mobile-menu-contact-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-accent-text-color);
  }

  .mobile-menu-contact-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--pramery-text-color);
  }

  .mobile-menu-social-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    list-style: none;
  }
  .logo {
    margin: auto;
  }
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

/* mobile menu */

/* --------------------------- */

/* Tablet */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .nav {
    display: flex;
    align-items: center;
    column-gap: 120px;
  }

  .nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  .nav-links.address {
    display: block;
  }

  .adress-item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--pramery-text-color);
  }

  .nav-item {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .curren {
    color: #404bbf;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: #404bbf;
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }

  .adress-item:hover,
  .adress-item:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
  }

  .header-page {
    justify-content: flex-start;
  }

  .curren {
    color: #404bbf;
  }
  .curren::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover,
  .nav-item:focus {
    color: #404bbf;
  }
  .nav-links.address {
    display: flex;
    gap: 40px;
  }
}

/* .header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.header-page {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* maine navigation */

/* .list {
  list-style: none;
  align-items: center;
}
.nav {
  display: flex;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-item {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.curren {
  color: #404bbf;
}
.curren::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item link {
  text-decoration: none;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}

.adress-item {
  padding: 24px 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pramery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
} */
/* maine */

.hero {
  max-width: 1440px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  background-color: var(--secondary-text-color);
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.button-title {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}
/* section 2 */
.work {
  display: flex;
  gap: 24px;
}
.work-box-solutions {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-box {
  padding-bottom: 120px;
  padding-top: 0;
}

.work-list-item {
  width: calc((100% - 72px) / 4);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.work-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.work-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pramery-text-color);
}
.work-expl {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.img-box {
  width: calc((100% - 48px) / 3);
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.team-cards {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.social-icon-item {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--secondary-accent-text-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link-footer {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--secondary-accent-text-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-icon-link-item {
  fill: #f4f4fd;
}
.social-icon-link-footer:hover,
.social-icon-link-footer:focus {
  background-color: #31d0aa;
}
.card-box {
  padding: 32px 0;
}
.team-name {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.job-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pramery-text-color);
  margin-bottom: 8px;
}
/* Customers  */

.costumers {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.costumers-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.costumers-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.costumers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.costumers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumers-list-link:hover,
.costumers-list-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.costumer-icon {
  fill: currentColor;
}
/* footer */

.footer {
  padding: 100px 0;
  background-color: var(--secondary-text-color);
}
.footer-space {
  display: flex;
  align-items: baseline;
}
.footer-logo-p {
  margin-right: 120px;
}
.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-text-color);
}

.logo-p {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-form {
  margin-left: auto;
}
.footer-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
}

.subscribe-form-label {
  margin-right: 24px;
}

.email-form-line {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}

.subscribe-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.btn-icon {
  margin-left: 16px;
}
/* Portfolio */

/* buttons */

.buttons {
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-accent-text-color);
  background-color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  border: 1px solid transparent;
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.block link {
  text-decoration: none;
}

.block {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlay-text-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block:hover .overlay,
.block:focus .overlay {
  transform: translateY(0%);
}

.block:hover,
.block:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.job-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pramery-text-color);
}

.exples-box {
  padding: 96px 0 120px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.block-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.block-exples {
  width: calc((100% - 48px) / 3);
}

.blocks-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .modal-btn-icon,
.modal-close-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.modal-window-lines {
  margin-bottom: 8px;
}

.modal-window-user-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-text-color);
  display: block;
  margin-bottom: 4px;
}

.user-name-line {
  position: relative;
}

.us-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.us-name:focus {
  border-color: #4d5ae5;
}

.us-name-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.us-name:focus + .us-name-icon {
  fill: #4d5ae5;
}

.comment-line {
  margin-bottom: 16px;
}

.user-comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment-text:focus {
  border-color: #4d5ae5;
}

.agreement-policy {
  margin-bottom: 24px;
}

.user-privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-text-color);
}

.privacy-checkbox-new {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.user-privacy-condition:checked + .user-privacy-text .privacy-checkbox-new {
  background-color: var(--background-color-check);
  border: none;
  fill: var(--accent-text-color);
  border-color: var(--background-color-check);
}

.privacy-link {
  color: var(--secondary-accent-text-color);
}

.send-form-btn {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
